@font-face {
    font-family: 'eb_grammond';
    src: url(../fonts/EBGaramond-VariableFont_wght.ttf) format('truetype'),
         url(../fonts/EBGaramond-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'marcellus';
    src: url(../fonts/Marcellus-Regular.ttf) format('truetype'),
         url(../fonts/Marcellus-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}