@charset "utf-8";

/*Import Fonts*/
@import "fonts.scss";

/*Import Variables*/
@import "variables.scss";

/*Import Mixins*/
@import "mixins.scss";

/*Import resets*/
@import "normalize.scss";

@import "main.scss";

/*HTML Elements*/
html{
    box-sizing: border-box;
    font: {
        family: $textFont;
        size: 20px;
    }
    background-color: #90A6C1;
    opacity: 0.8;
    background-image: radial-gradient(#6e7e92 1.3px, #90A6C1 1.3px);
    background-size: 26px 26px;
    padding:5px;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    margin:0px;
    background-color: #90A6C1;
    opacity: 0.8;
    background-image: radial-gradient(#6e7e92 1.3px, #90A6C1 1.3px);
    background-size: 26px 26px;
}

main{
    flex:1;
    display: flex;
    flex-direction: column;
    width:100%;
    background-color: #211A3B;
    opacity: 1;
    background-image:  radial-gradient(#352960 0.8px, transparent 0.8px), radial-gradient(#352960 0.8px, #211A3B 0.8px);
    background-size: 32px 32px;
    background-position: 0 0,16px 16px;
}

h1, h2, h3, h4, h5, h6, h1 a{
    color: $mainColor;
    margin: 0px;
    margin-bottom: 5px;
    font-family: $titleFont;
}

h2, h3, h4, h5, h6{
    width: 100%;
}

h1{
    font-size: 1.9em;
}

p{
    color: $lightShades;
    margin: 0px;
}

header{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $darkShades;
    opacity: 1;
    background: linear-gradient(135deg, #986F7F55 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #986F7F 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #986F7F55 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #986F7F 25%, #211A3B 25%) 0px 0/ 80px 80px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    h6{
        font-size: 0.8em;
        text-align: center;
    }
    background-color: $darkShades;
    opacity: 1;
    background: linear-gradient(135deg, #986F7F55 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #986F7F 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #986F7F55 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #986F7F 25%, #211A3B 25%) 0px 0/ 80px 80px;
}

/*Psudeoclass Selectors*/

/*.Class Selectors*/

/*#id selectors*/
#wrapper{
    display:grid;
    grid-template-rows: 100px 1fr 50px;
    grid-template-columns: 1fr;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    background-color: $darkShades;
    max-width: $maxWidth;
    min-height: 100vh;
}

#popUp{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #90A6C1;
    opacity: 1;
    background-image:  radial-gradient(#798ca3 0.8px, transparent 0.8px), radial-gradient(#798ca3 0.8px, #90A6C1 0.8px);
    background-size: 32px 32px;
    background-position: 0 0,16px 16px;
    border: solid 5px $lightAccent;
    justify-content: center;
    align-items: center;
}

#popUpTitle{
    color: $darkShades;
}

#popUpMessage{
    color: $darkShades;
}

#hint{
    width: 100%;
}


/*@ selectors*/

@import "mediaQueries.scss";